doctype html
html(lang='en')
  head
    include partials/head.jade
  body

    include partials/nav.jade

    //- Carousel
    div#myCarousel.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        mixin carouselTarget(classes, number)
          li(class=classes, data-target='#myCarousel', data-slide-to=number)

        each val, key in locals.carousel
          +carouselTarget(val[0], key)

      div.carousel-inner
        mixin carouselItem(classes, img, alt, title, description, link, button)
          div(class=['item', classes])
            img(src=img, alt=alt)
            div.container
              div.carousel-caption
                h1= title
                p= description
                p
                  a.btn.btn-lg.btn-primary(href=link, role='button')= button

        each val in locals.carousel
          +carouselItem(val[0], val[1], val[2], val[3], val[4], val[5], val[6])

      a.carousel-control.left(href='#myCarousel', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.carousel-control.right(href='#myCarousel', data-slide='next')
        span.glyphicon.glyphicon-chevron-right

    //- Marketing
    div.container.marketing
      div.row
        div.col-lg-3
          //- img.img-circle(data-src='holder.js/140x140', alt='Placeholder')
          i.fa.fa-7x.fa-comment
          h2 Informeert
          p Leden van MKB-Almelo ontvangen regelmatig de nieuwsbrief met de meest actuele informatie.

        div.col-lg-3
          //- img.img-circle(data-src='holder.js/140x140', alt='Placeholder')
          i.fa.fa-7x.fa-users
          h2 Ontmoet
          p MKB-Almelo is een belangrijke partij die de faciliteiten biedt om ondernemers te ontmoeten. Ook het ontmoeten van vertegenwoordigers van overheden en onderwijsinstellingen draagt bij aan een sterk netwerk.

        div.col-lg-3
          //- img.img-circle(data-src='holder.js/140x140', alt='Placeholder')
          i.fa.fa-7x.fa-share-alt
          h2 Ondersteunt
          p Door het brede netwerk en de kennis via het partnerschap met MKB-Nederland kunnen ondernemers een beroep doen op MKB-Almelo voor het oplossen van collectieve problemen.

        div.col-lg-3
          //- img.img-circle(data-src='holder.js/140x140', alt='Placeholder')
          i.fa.fa-7x.fa-flag-checkered
          h2 Bereikt
          p Leden van MKB-Almelo moeten kunnen ondernemen in een mkb-vriendelijk klimaat. Zonder onnodige regelgeving, te hoge lasten of een mkb-onvriendelijk aanbestedingsbeleid, maar met optimale communicatie tussen het bedrijfsleven en de gemeente.

        h4.center Meer weten? Neem contact met ons op!
      hr.featurette-divider

    //- RSS.js
    div#rsscontainer_mkb.container.rss
      div#rssholder_mkb.row
      hr.featurette-divider

    div#rsscontainer_wo.container.rss
      div#rssholder_wo.row
      hr.featurette-divider

      include partials/footer.jade

    include partials/afterimports.jade
    script.
      mkbRSS(config.mkb);
      woRSS(config.wo);
